<div class="page-header">
  <div class="wrapper">
    <div class="container">
      <div class="col-lg-5">
        <h1 class="title"> Stagiaires</h1>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="content">
    <div class="container">
      <div *ngIf="dataSend" class="row row mt-2 mb-2">
        <div class="col-12">
          <div *ngIf="messageType == 'danger'" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          <div *ngIf="messageType == 'success'" class="alert alert-success" role="alert">
            {{ message }}
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card shadow text-center border-0">
            <div class="card-header">
              <h2>Mettre à jour les informations du stagiaire : {{ intern.firstname }} {{ intern.lastname }}</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <form class="row needs-validation d-flex justify-content-center" #formEditIntern="ngForm"
                        (ngSubmit)="submitHandler(formEditIntern)">
                    <div class="row mb-3">
                      <legend class="col-form-label col-sm-2 pt-0">Civilité</legend>
                      <div class="col-sm-6">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [ngModel]="intern.civility" name="civility" value="madame">
                          <label class="form-check-label">Madame</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [ngModel]="intern.civility" name="civility" value="monsieur">
                          <label class="form-check-label">Monsieur</label>
                        </div>
                        <div *ngIf="formEditInternIsSubmitted && fieldCivilityIntern" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditInternIsSubmitted && !fieldCivilityIntern" class="invalid-feedback">
                          Le champ doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="lastnameFormer" class="col-sm-4 col-form-label">Nom de famille du stagiaire</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="lastnameFormer" name="lastname" autocomplete="off"
                               required [ngModel]="intern.lastname">
                        <div *ngIf="formEditInternIsSubmitted && fieldLastnameIntern" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditInternIsSubmitted && !fieldLastnameIntern" class="invalid-feedback">
                          Le champ doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="firstnameFormer" class="col-sm-4 col-form-label">Prénom du stagiaire</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="firstnameFormer" name="firstname" autocomplete="off"
                               required [ngModel]="intern.firstname">
                        <div *ngIf="formEditInternIsSubmitted && fieldFirstnameIntern" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditInternIsSubmitted && !fieldFirstnameIntern" class="invalid-feedback">
                          Le champ doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="phoneNumberFormer" class="col-sm-4 col-form-label">Numéro de téléphone stagiaire</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="phoneNumberFormer" name="phoneNumber" autocomplete="off"
                               required [ngModel]="intern.phoneNumber">
                        <div *ngIf="formEditInternIsSubmitted && fieldPhoneNumberIntern" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditInternIsSubmitted && !fieldPhoneNumberIntern" class="invalid-feedback">
                          Le champ doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="emailAddressFormer" class="col-sm-4 col-form-label">Adresse email du stagiaire</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="emailAddressFormer" name="emailAddress" autocomplete="off"
                               required [ngModel]="intern.emailAddress">
                        <div *ngIf="formEditInternIsSubmitted && fieldEmailAddressIntern" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditInternIsSubmitted && !fieldEmailAddressIntern" class="invalid-feedback">
                          Le champ doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mt-5 mb-2">
                      <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-custom"> Sauvegarder</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <a routerLink="/stagiaire" class="btn btn-custom float-end"> Retourner à la liste des stagiaires</a>
        </div>
      </div>
    </div>
  </div>
</div>
