<section class="mt-4 ms-3" *ngIf="httpCode != 0">
  <div class="container">
    <div class="row">
      <div [class]="httpCode == 200 ? 'col-7 alert alert-success' : 'col-7 alert alert-danger'">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 box">
  <div class="container">
    <div class="rounded-3 border shadow-lg bg-white">
      <div class="row p-4 pb-0">
        <div class="col-lg-6 float-start">
          <h1 class="title">Ajouter une nouvelle formation</h1>
        </div>
      </div>
      <div class="row p-4 pb-0">
        <div class="col-12">
          <form #formAddFormation="ngForm" (ngSubmit)="submitHandler(formAddFormation)">
            <div class="row mb-3">
              <label for="nameFormation" class="col-sm-2 col-form-label">Nom de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="nameFormation" name="name" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="dateFormation" class="col-sm-2 col-form-label">Date de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="dateFormation" name="date" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="dureeFormation" class="col-sm-2 col-form-label">Durée de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="dureeFormation" name="duration" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="priceFormation" class="col-sm-2 col-form-label">Prix de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="priceFormation" name="price" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="levelFormation" class="col-sm-2 col-form-label">Niveau de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" ngModel id="levelFormation" name="level">
                  <option value="">Veuillez choisir un niveau</option>
                  <option value="base">Base</option>
                  <option value="avance">Avance</option>
                  <option value="expert">Expert</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="categoryFormation" class="col-sm-2 col-form-label">Catégorie de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" ngModel id="categoryFormation" name="category">
                  <option value="">Veuillez choisir une catégorie</option>
                  <option *ngFor="let category of categories">{{ category.name }}</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="formerFormation" class="col-sm-2 col-form-label">Formateur de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" ngModel id="formerFormation" name="former">
                  <option value="">Veuillez selectionner le nom du formateur</option>
                  <option *ngFor="let former of formers">{{ former.firstname }} {{ former.lastname }}</option>
                </select>
              </div>
            </div>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">En ligne</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="online" id="online" value="true" ngModel>
                  <label class="form-check-label" for="online">
                    Oui
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="online" id="offline" value="false" ngModel>
                  <label class="form-check-label" for="offline">
                    Non
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="row mb-3">
              <label for="programFormation" class="col-sm-2 col-form-label">Programme de la formation</label>
              <div class="col-sm-4">
                <textarea class="form-control" id="programFormation" name="program" rows="3" ngModel></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="internsFormation" class="col-sm-2 col-form-label">Participant de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" multiple ngModel id="internsFormation" name="interns">
                  <option *ngFor="let intern of interns">{{ intern.firstname }} {{ intern.lastname }}</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Sauvegarder la formation</button>
          </form>
        </div>
      </div>
      <div class="row p-4">
        <div class="col-12">
          <a (click)="returnToListFormation()" class="btn btn-primary">Retourner vers la liste des formations</a>
        </div>
      </div>
    </div>
  </div>
</section>
