<div class="page-header">
  <div class="wrapper">
    <div class="container">
      <div class="col-lg-5">
        <h1 class="title"> Formations</h1>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="content">
    <div class="container">
      <div *ngIf="dataSend" class="row row mt-2 mb-2">
        <div class="col-12">
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card shadow text-center border-0">
            <div class="card-header">
              <h2>Mettre a jour de la formation</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <form class="row needs-validation d-flex justify-content-center" #formEditFormation="ngForm"
                        (ngSubmit)="submitHandler(formEditFormation)">
                    <div class="row mb-3">
                      <label for="nameFormation" class="col-sm-4 col-form-label">Nom de la formation</label>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="nameFormation" name="name" autocomplete="off"
                               required [ngModel]="formation.name">
                        <div *ngIf="formEditFormationIsSubmitted && fieldNameFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldNameFormation" class="invalid-feedback">
                          Le champs doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="descriptionFormation" class="col-sm-2 col-form-label">Description de la
                        formation</label>
                      <div class="col-sm-6">
                        <textarea class="form-control" id="descriptionFormation" name="description" rows="3" [ngModel]="formation.description"
                                  required></textarea>
                        <div *ngIf="formEditFormationIsSubmitted && fieldDescriptionFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldDescriptionFormation" class="invalid-feedback">
                          {{ formEditFormation.value.description > 255 ? 'Le champs doit contenir moins de 255 caractères.' : 'Le champs doit être renseigné.'}}
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="programFormation" class="col-sm-2 col-form-label">Programme de la formation</label>
                      <div class="col-sm-6">
                        <textarea class="form-control" id="programFormation" name="program" rows="3" [ngModel]="formation.programm"
                                  required></textarea>
                        <div *ngIf="formEditFormationIsSubmitted && fieldProgrammFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldProgrammFormation" class="invalid-feedback">
                          Le champs doit être renseigné
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="priceFormation" class="col-sm-4 col-form-label">Prix de la formation</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" id="priceFormation" name="price" autocomplete="off"
                               required [ngModel]="formation.price">
                        <div *ngIf="formEditFormationIsSubmitted && fieldPriceFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldPriceFormation" class="invalid-feedback">
                          Le prix doit être supérieur a 0.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="durationFormation" class="col-sm-4 col-form-label">Durée de la formation</label>
                      <div class="col-sm-6">
                        <input type="number" class="form-control" id="durationFormation" name="duration"
                               autocomplete="off"
                               required [ngModel]="formation.duration">
                        <div *ngIf="formEditFormationIsSubmitted && fieldDurationFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldDurationFormation" class="invalid-feedback">
                          La durée doit être supérieur a 0.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="dateFormation" class="col-sm-4 col-form-label">Date de disponibilité de la
                        formation</label>
                      <div class="col-sm-4">
                        <input type="date" class="form-control" id="dateFormation" name="dateAvailable" [ngModel]="formation.dateAvailable"
                               required>
                        <div *ngIf="formEditFormationIsSubmitted && fieldDateAvailableFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldDateAvailableFormation" class="invalid-feedback">
                          Le champs doit être renseigné.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="levelFormation" class="col-sm-4 col-form-label">Niveau de la formation</label>
                      <div class="col-sm-4">
                        <select class="form-select" [ngModel]="formation.level" id="levelFormation" name="level" required>
                          <option value="">Veuillez choisir un niveau</option>
                          <option *ngFor="let level of levelList"
                                  value="{{ level.name }}">{{ level.name }}</option>
                        </select>
                        <div *ngIf="formEditFormationIsSubmitted && fieldLevelFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldLevelFormation" class="invalid-feedback">
                          Le champs doit être renseigné.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="categoryFormation" class="col-sm-4 col-form-label">Catégorie de la formation</label>
                      <div class="col-sm-4">
                        <select class="form-select" [ngModel]="formation.category"
                                id="categoryFormation" name="category" required>
                          <option value="">Veuillez choisir une catégorie</option>
                          <option *ngFor="let category of categoryList"
                                  value="{{ category.name }}">{{ category.name }}</option>
                        </select>
                        <div *ngIf="formEditFormationIsSubmitted && fieldCategoryFormation" class="valid-feedback">
                          OK
                        </div>
                        <div *ngIf="formEditFormationIsSubmitted && !fieldCategoryFormation" class="invalid-feedback">
                          Le champs doit être renseigné.
                        </div>
                      </div>
                    </div>
                    <div class="row mt-5 mb-2">
                      <div class="col-12 d-flex justify-content-center">
                        <button class="btn btn-custom"> Sauvegarder</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <a routerLink="/formation" class="btn btn-custom float-end"> Retourner a la liste des formations</a>
        </div>
      </div>
    </div>
  </div>
</div>
