<section class="mt-4 ms-3" *ngIf="httpCode != 0">
  <div class="container">
    <div class="row">
      <div [class]="httpCode == 200 ? 'col-7 alert alert-success' : 'col-7 alert alert-danger'">
        <p>{{ message }}</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 box">
  <div class="container">
    <div class="rounded-3 border shadow-lg bg-white">
      <div class="row p-4 pb-0">
        <div class="col-lg-6 float-start">
          <h1 class="title">Ajouter un nouveaux formateur</h1>
        </div>
      </div>
      <div class="row p-4 pb-0">
        <div class="col-12">
          <form #formAddFormer="ngForm" (ngSubmit)="submitHandler(formAddFormer)">
            <div class="row mb-3">
              <label for="lastnameFormer" class="col-sm-2 col-form-label">Nom du formateur</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="lastnameFormer" name="lastname" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="firstnameFormer" class="col-sm-2 col-form-label">Prenom du formateur</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="firstnameFormer" name="firstname" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="salaryFormer" class="col-sm-2 col-form-label">Salaire du formateur</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="salaryFormer" name="salary" ngModel>
              </div>
            </div>
            <div class="row mb-3">
              <label for="phoneFormer" class="col-sm-2 col-form-label">Telephone du formateur</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="phoneFormer" name="phone" ngModel>
              </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Sauvegarder le formateur</button>
          </form>
        </div>
      </div>
      <div class="row p-4">
        <div class="col-12">
          <a (click)="returnToListFormer()" class="btn btn-primary">Retourner vers la liste des categories</a>
        </div>
      </div>
    </div>
  </div>
</section>
