<section class="mt-4 box">
  <div class="container">
    <div class="rounded-3 border shadow-lg bg-white">
      <div class="row p-4 pb-0 align-items-center justify-content-around mt-3 mb-3">
        <div class="col-lg-7">
          <h1 class="title">A propos de nous</h1>
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat,
            accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada.
            Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.
          </p>
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat,
            accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada.
            Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.
          </p>
          <p>
            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat,
            accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada.
            Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.
          </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 shadow-lg">
          <img class="rounded-lg-3" src="./assets/img/undraw_teaching_f1cm.png" alt="image illustration">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 box">
  <div class="container">
    <div class="rounded-3 border shadow-lg bg-white">
      <div class="row p-4 pb-0">
        <div class="col-lg-7 float-start">
          <h2 class="title">Nos valeurs</h2>
        </div>
      </div>
      <div class="row p-4 pb-0 align-items-start justify-content-around">
        <div class="col-lg-4">
          <div class="quality">
            <div class="icon">
              <i class="fas fa-award"></i>
            </div>
            <div class="text">
              <h4>Excellence</h4>
              <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie
                malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="quality">
            <div class="icon">
              <i class="fas fa-people-arrows"></i>
            </div>
            <div class="text">
              <h4>Proximité</h4>
              <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie
                malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="quality">
            <div class="icon">
              <i class="fas fa-people-carry"></i>
            </div>
            <div class="text">
              <h4>Solidarité</h4>
              <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie
                malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
