.quality {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0 10px 30px 0 rgba(50, 50, 50, 0.16);
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 10px;
}

.quality:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  content: " ";
  width: 80px;
  height: 80px;
  background: #007bff;
  border-bottom-left-radius: 136px;
}

.quality .icon {
  position: absolute;
  top: 3px;
  right: 14px;
  max-width: 100px;
  z-index: 1;
  text-align: center;
}

.quality .icon i {
  color: #ffffff;
  font-size: 30px;
  line-height: 65px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.quality .text {
  position: relative;
}

.quality .text h4 {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 16px;
}

.quality .text p {
  color: #333;
  font-size: 14px;
}
