<!--
<main>
  <router-outlet></router-outlet>
</main>

<footer class="mt-5 mb-4 bg-dark">
  <p class="text-center text-white">© 2021 ng21Formation</p>
</footer>-->

<header>
  <div class="container-fluid">
    <div class="nav-wrapper">
      <app-navbar></app-navbar>
    </div>
  </div>
</header>

<main></main>

<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <p>© 2021 - {{ currentYear }} ng21Formation</p>
      </div>
    </div>
  </div>
</footer>
