<header>
  <div class="container-fluid">
    <div class="nav-wrapper">
      <nav class="navbar navbar-expand-custom navbar-background">
        <a routerLink="/home" class="navbar-brand navbar-logo" href="#">
          <i class="fas fa-graduation-cap pe-2"></i>ng21Formation
        </a>
        <button [classList]="navbarButtonToggleCssClassList" type="button"
                (click)="navbarButtonToggleHandlerClick($event)">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </button>
        <div [classList]="navbarContentCssClassList" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a routerLink="/accueil" class="nav-link" routerLinkActive="active">
                <i class="fas fa-home"></i>
                Accueil
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/formation" class="nav-link" routerLinkActive="active">
                <i class="fas fa-book-reader"></i>
                Formations
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/categorie" class="nav-link" routerLinkActive="active">
                <i class="fas fa-tags"></i>
                Catégories
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/formateur" class="nav-link" routerLinkActive="active">
                <i class="fas fa-user-graduate"></i>
                Formateurs
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/stagiaire" class="nav-link" routerLinkActive="active">
                <i class="fas fa-users"></i>
                Stagiaires
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <p>© 2021 - {{ currentYear }} ng21Formation</p>
      </div>
    </div>
  </div>
</footer>
