<section class="mt-4 ms-3" *ngIf="formationStatus == false">
  <div class="container">
    <div class="row">
      <div class="col-7 alert alert-info">
        <p>La formation n'existe pas, pour retourner sur la page precedente cliquer sur le bouton ci-dessous</p>
        <a (click)="returnToListFormation()" class="btn btn-primary">Retourner vers la liste des formation</a>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 box" *ngIf="formationStatus">
  <div class="container">
    <div class="rounded-3 border shadow-lg bg-white">
      <div class="row p-4 pb-0">
        <div class="col-lg-6 float-start">
          <h1 class="title">{{ formation.name }}</h1>
        </div>
      </div>
      <div class="row p-4 pb-0">
        <div class="col-12">
          <form #formEditFormation="ngForm" (ngSubmit)="submitHandler(formEditFormation)">
            <div class="row mb-3">
              <label for="nameFormation" class="col-sm-2 col-form-label">Nom de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="nameFormation" name="name" [(ngModel)]="formation.name">
              </div>
            </div>
            <div class="row mb-3">
              <label for="dateFormation" class="col-sm-2 col-form-label">Date de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="dateFormation" name="date" [(ngModel)]="formation.date">
              </div>
            </div>
            <div class="row mb-3">
              <label for="dureeFormation" class="col-sm-2 col-form-label">Duree de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="dureeFormation" name="duration" [(ngModel)]="formation.duration">
              </div>
            </div>
            <div class="row mb-3">
              <label for="priceFormation" class="col-sm-2 col-form-label">Prix de la formation</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="priceFormation" name="price" [(ngModel)]="formation.price">
              </div>
            </div>
            <div class="row mb-3">
              <label for="levelFormation" class="col-sm-2 col-form-label">Niveau de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" ngModel id="levelFormation" name="level" [(ngModel)]="formation.level">
                  <option value="">Veuillez choisir un niveau</option>
                  <option value="base">Base</option>
                  <option value="avance">Avance</option>
                  <option value="expert">Expert</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="categoryFormation" class="col-sm-2 col-form-label">Catégorie de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" [(ngModel)]="formation.category" id="categoryFormation" name="category">
                  <option value="">Veuillez choisir une categorie</option>
                  <option [selected]="category.name == formation.category" *ngFor="let category of categories">{{ category.name }}</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="formerFormation" class="col-sm-2 col-form-label">Formateur de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" [(ngModel)]="formation.former" id="formerFormation" name="former">
                  <option value="">Selectionner un formateur</option>
                  <option [selected]="checkStringIsEqual(getFullName(former.firstname, former.lastname), formation.former)"
                          *ngFor="let former of formers">{{ getFullName(former.firstname, former.lastname) }}
                  </option>
                </select>
              </div>
            </div>
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">En ligne</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="online" id="online" [(ngModel)]="formation.online" [checked]="formation.online" value="true">
                  <label class="form-check-label" for="online">
                    Oui
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="online" id="offline" [(ngModel)]="formation.online" [checked]="formation.online" value="false">
                  <label class="form-check-label" for="offline">
                    Non
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="row mb-3">
              <label for="programFormation" class="col-sm-2 col-form-label">Programme de la formation</label>
              <div class="col-sm-4">
                <textarea class="form-control" id="programFormation" name="program" rows="3" [(ngModel)]="formation.program"></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <label for="internsFormation" class="col-sm-2 col-form-label">Participant de la formation</label>
              <div class="col-sm-4">
                <select class="form-select" multiple [(ngModel)]="formation.interns" id="internsFormation" name="interns">
                  <option [selected]="checkInternInList(getFullName(intern.firstname, intern.lastname), formation.interns)"
                          *ngFor="let intern of interns">{{ getFullName(intern.firstname, intern.lastname) }}
                  </option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-success mt-3">Sauvegarder la formation</button>
          </form>
        </div>
      </div>
      <div class="row p-4">
        <div class="col-12">
          <a (click)="returnToListFormation()" class="btn btn-primary">Retourner vers la liste des formation</a>
        </div>
      </div>
    </div>
  </div>
</section>
