module.exports = {
  environment: 'dev',
  express: {
    portListen: 3000,
    portCorsOption: 3001
  },
  database: {
    host: "localhost",
    port: 3306,
    user: "root",
    password: "",
    database: "ng_formation",
    dialect: "mysql"
  }
}
