<div class="page-header">
  <div class="wrapper">
    <div class="container d-flex flex-row">
      <div class="col-lg-12">
        <h1 class="title"> Formation</h1>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="content">
    <div class="container">
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card shadow border-0">
            <div class="card-header">
              <h2>{{ formation.name }}</h2>
              <p>Prix: {{ formation.price | currency:'EUR' }}</p>
              <p>Niveau: {{ formation.level }}</p>
              <p>Catégorie: {{ formation.category }}</p>
              <p>Disponible le {{ formation.dateAvailable | date:'dd-MM-yyyy' }} a {{ formation.dateAvailable | date:'HH:MM'}}</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h4>Presentation</h4>
                  <p>{{ formation.description }}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <h4>Programme</h4>
                  <p>{{ formation.programm }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <a routerLink="/formation" class="btn btn-custom float-end"> Retourner a la liste des formations</a>
        </div>
      </div>
    </div>
  </div>
</div>
