<div class="page-header">
  <div class="wrapper">
    <div class="container d-flex flex-row justify-content-around">
      <div class="col-lg-5">
        <h1 class="title"> Formations</h1>
      </div>
      <div class="col-lg-3 offset-4 tools-box">
        <a routerLink="/formation/add" class="btn btn-sm btn-outline-info">
          <i class="fas fa-plus-circle"></i> Ajouter une formation
        </a>
        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Rechercher une formation"
                class="btn btn-sm btn-outline-info" id="btnSearchToggle" (click)="eventSearchHandler($event, '')">
          <i class="fas fa-search"></i>
        </button>
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-info" type="button" id="dropdownDisplayData"
                  data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-table" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier l'affichage"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownDisplayData">
            <li><a class="dropdown-item" (click)="btnHandlerDisplayDataMethod($event)">Tableau</a></li>
            <li><a class="dropdown-item" (click)="btnHandlerDisplayDataMethod($event)">Liste</a></li>
          </ul>
        </div>
        <button class="btn btn-sm btn-outline-info" type="button" id="dropdownSelectCategory"
                data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-filter" data-bs-toggle="tooltip" data-bs-placement="top" title="Trier par"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownSelectCategory">
          <li>
            <a class="dropdown-item"
               (click)="btnHandlerDisplayDataByCategory('All')">Afficher toutes les formations</a>
          </li>
          <li *ngFor="let category of categoryList">
            <a class="dropdown-item"
               (click)="btnHandlerDisplayDataByCategory(category.name)">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="content">
    <div class="container">
      <div *ngIf="formSearchIsVisible" class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card shadow text-center border-0">
            <div class="card-header">
              <h2>Recherche une formation</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <form #formSearchFormation="ngForm" class="row gx-3 gy-2 align-items-center justify-content-center">
                    <div class="col-sm-5">
                      <label class="visually-hidden" for="searchFormation">Name</label>
                      <input type="text" class="form-control" id="searchFormation" name="searchFormation"
                             placeholder="Saisissez le nom de la formation" ngModel>
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-custom"
                              id="btnSearchSend" (click)="eventSearchHandler($event, formSearchFormation)">Rechercher
                      </button>

                      <button type="submit" class="btn btn-custom ms-2"
                              id="btnSearchReset" (click)="eventSearchHandler($event, formSearchFormation)">
                        Reinitialiser
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="card shadow text-center border-0">
            <div class="card-header">
              <h2>Liste des formations</h2>
            </div>
            <div class="card-body" *ngIf="numberOfFormation > 0; then blocThen; else blocElse"></div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5" *ngIf="numberOfFormation > numberItemToDisplay">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #blocThen>
  <table *ngIf="displayDataMethod == 'table'" class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
      <th scope="col">Niveau</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Date de disponibilité</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let formation of formationList">
      <td>{{ formation.name }}</td>
      <td>{{ formation.description }}</td>
      <td>{{ formation.price | currency:'EUR' }}</td>
      <td>{{ formation.level }}</td>
      <td>{{ formation.category }}</td>
      <td>{{ formation.dateAvailable | date:'dd-MM-yyyy' }} a {{ formation.dateAvailable | date:'HH:MM'}}</td>
      <td>
        <a [routerLink]="['/formation/detail/', formation.id]" data-bs-toggle="tooltip" data-bs-placement="top"
           title="En savoir plus"
           class="btn btn-sm btn-outline-info">
          <i class="fas fa-eye"></i>
        </a>
        <a [routerLink]="['/formation/edit/', formation.id]" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Mettre à jour"
           class="btn btn-sm btn-outline-info">
          <i class="fas fa-edit"></i>
        </a>
        <button data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer"
                class="btn btn-sm btn-outline-info">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>

    </tbody>
  </table>

  <div *ngIf="displayDataMethod == 'list'" class="row">
    <div *ngFor="let formation of formationList" class="col-lg-3">
      <div class="card shadow item-card">
        <img *ngIf="formation.category == 'Bureautique'" src="/assets/img/undraw_office.png" alt="image d'ilustration"
             class="img-fluid">
        <img *ngIf="formation.category == 'Développement'" src="/assets/img/undraw_web_development.png"
             alt="image d'ilustration" class="img-fluid">
        <img *ngIf="formation.category == 'Design'" src="/assets/img/undraw_design.png" alt="image d'ilustration"
             class="img-fluid">
        <img *ngIf="formation.category == 'Photographie'" src="/assets/img/undraw_photography.png"
             alt="image d'ilustration" class="img-fluid">
        <div class="category">
          <p>{{ formation.category }}</p>
        </div>
        <div class="card-body">
          <p class="card-text p-0">{{ formation.name }} - Niveau {{ formation.level }}</p>
          <p class="card-text p-0">Disponible le {{ formation.dateAvailable | date:'dd-MM-yyyy' }}
            a {{ formation.dateAvailable | date:'HH:MM'}}</p>
          <p class="p-0 float-start">Au prix de {{ formation.price | currency:'EUR' }}</p>
          <p class="card-text ps-0 pt-5 pb-5">{{ formation.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a [routerLink]="['/formation/detail/', formation.id]" data-bs-toggle="tooltip" data-bs-placement="top"
                 title="En savoir plus"
                 class="btn btn-sm btn-outline-info">
                <i class="fas fa-eye"></i>
              </a>
              <a [routerLink]="['/formation/edit/', formation.id]" data-bs-toggle="tooltip" data-bs-placement="top"
                 title="Mettre à jour"
                 class="btn btn-sm btn-outline-info">
                <i class="fas fa-edit"></i>
              </a>
              <button (click)="deleteFormation(formation)" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                      data-bs-target="#confirmModal">
                <i class="fas fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #blocElse>
  <div class="card-body d-flex flex-column justify-content-center">
    <i class="fas fa-exclamation-circle fa-3x mt-3 mb-3"></i>
    <p class="fs-4">{{ textDefault }}</p>
  </div>
</ng-template>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center justify-content-center">
        <i class="fas fa-exclamation-circle fa-3x"></i>
        <p class="pt-2">Confirmez-vous la suppression de la formation {{ formationSelectedName }} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
        <button (click)="confirmDeleteFormation($event)" data-bs-dismiss="modal" type="button" class="btn btn-danger">
          Oui
        </button>
      </div>
    </div>
  </div>
</div>
