<section class="mt-4 box">
  <div class="container">
    <div class="rounded-3 border shadow-lg bg-white">
      <div class="row p-4 pb-0">
        <div class="col-lg-5 float-start">
          <h1 class="title">Nos formations</h1>
        </div>
        <div class="col-lg-7 d-flex align-items-center justify-content-around">
          <a (click)="addFormation()" class="btn btn-sm btn-outline-info">
            <i class="fas fa-plus-circle"></i> Ajouter une formation
          </a>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="dropdownDisplayChange" data-bs-toggle="dropdown" aria-expanded="false">
              Modifier l'affichage
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownDisplayChange">
              <li><a (click)="changeDataView($event)" class="dropdown-item">Tableau</a></li>
              <li><a (click)="changeDataView($event)" class="dropdown-item">Card</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button" id="filterByCategory" data-bs-toggle="dropdown" aria-expanded="false">
              {{ buttonFilterText }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterByCategory">
              <li>
                <a (click)="getFormationByCategory($event, 'all')" class="dropdown-item">Afficher toutes les formattions</a>
              </li>
              <li *ngFor="let category of categories">
                <a (click)="getFormationByCategory($event, category.name)" class="dropdown-item">{{ category.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="dataViewType == 'card'; then blocThen; else blocElse"></div>
    </div>
  </div>
</section>

<ng-template #blocThen>
  <div class="row p-4 pb-0">
    <div *ngFor="let formation of formations" class="col-lg-4">
      <div class="card mb-2">
        <div class="card-header d-flex align-items-center justify-content-around">
          <h3>{{ formation.category }}</h3>
          <div class="btn-group ms-5">
            <a (click)="detailFormation(formation.id)" class="btn btn-sm btn-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir plus">
              <i class="fas fa-eye"></i>
            </a>
            <a (click)="editFormation(formation.id)" class="btn btn-sm btn-success me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
              <i class="fas fa-edit"></i>
            </a>
            <button (click)="deleteFormation(formation)" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">
              <i class="fas fa-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ formation.name }}</h5>
          <span class="card-text">id: {{ formation.id }}</span>
          <br>
          <span class="card-text">Commence le {{ formation.date }} et durée {{ formation.duration }} jour(s) et coûte {{ formation.price }} €</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #blocElse>
  <div class="row p-4 pb-0">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Formation</th>
          <th>Date</th>
          <th>Durée</th>
          <th>Prix</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let formation of formations">
          <td>{{ formation.id }}</td>
          <td>{{ formation.name }}</td>
          <td>{{ formation.date}}</td>
          <td>{{ formation.duration }} jour(s)</td>
          <td>{{ formation.price | currency: 'EUR':'symbol' }}</td>
          <td>
            <a (click)="detailFormation(formation.id)" class="btn btn-sm btn-info me-2">
              <i class="fas fa-eye"></i> Voir plus
            </a>
            <a (click)="editFormation(formation.id)" class="btn btn-sm btn-success me-2">
              <i class="fas fa-edit"></i> Modification
            </a>
            <button (click)="deleteFormation(formation)" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">
              <i class="fas fa-trash"></i> Supprimer
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center justify-content-center">
        <i class="fas fa-exclamation-circle fa-3x"></i>
        <p class="pt-2">Confirmez-vous la suppression de la formation {{ formationSelectedName }} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
        <button (click)="confirmDeleteFormation($event)" data-bs-dismiss="modal" type="button" class="btn btn-danger">Oui</button>
      </div>
    </div>
  </div>
</div>
